@font-face {
    font-family: "Libre Franklin";
    src: url("/css/fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Chakra Petch";
    src: url(/css/fonts/Chakra_Petch/ChakraPetch-Regular.ttf);
}

body {
    font-size: larger;
    font-family: "Chakra Petch";
    /* font-family: 'Courier New', Courier, monospace; */
    background-color: #bbd1ff;
    color: #D00070;
    /*background-color: #000000;
    color: #aaff00;*/
    padding: 2pc 20% 0 20%;
}

nav {
    padding: 10px 0 10px 0;
}

.navigator a:link {
    padding: 10px;
    text-decoration: none;
    background-color: #8C4799;
    /* background-color: #dcdcff; */
    color: #f9d1e6;
}

.navigator a:visited {
    padding: 10px;
    text-decoration: none;
    background-color: #8C4799;
    /* background-color: #dcdcff; */
    color: #f9d1e6;
}

.navigator a:hover {
    padding: 10px;
    text-decoration: none;
    background-color: #f9d1e6;;
    /* background-color: #dcdcff; */
    color: #8C4799
}



hr {
    border: 1px solid #8C4799;
}